<!-- <mat-toolbar color="primary">
   
    <span>ANGULAR</span>
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="Like">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
    </button>
    <span class="text-end"></span>
    <ng-container>
    
    <h1>{{user}}</h1>
</ng-container>
    <button *ngIf="usuario != null" (click)="salir()">salir</button>

    <h1>{{user}}</h1>
   
</mat-toolbar> -->

<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon></mat-icon>
    </button>
    <span>ANGULAR</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <button *ngIf="usuario != null" (click)="salir()">salir</button>
    <h1>{{user}}</h1>
    
  </mat-toolbar>
