<div class="container">
    <br>
    <b>Cargando... </b>
  <h1 class="text-center">Listado de estudiantes</h1>
  
  <button type="button" class="btn btn-primary" (click)="nuevoEstudiante()">Agregar Estudiante</button>
  
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Imagen</th>
          <th scope="col">Activo</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiantes of loadEstudiantes$ | async" (click)="editarEstudiante(estudiantes.id)">
          <th scope="row">{{estudiantes.id}}</th>
          <td>{{estudiantes.nombre}}</td>
          <td>{{estudiantes.correo}}</td>
          <td>{{estudiantes.imagen}}</td>
          <td>{{estudiantes.activo}}</td>
  
        </tr>
       
      </tbody>
    </table>
          
  </div>